/*
    Colors:
    Dark Gray:      #292929
    Light Gray:     #636466
 */

/* --- Main Homepage --- */

.home.container {
    min-height: 100vh;
    /*background: linear-gradient(white 80%, rgb(225, 250, 250));*/
    background: linear-gradient(to right, #EEEEEE, #EEEEEE);
}

.content {
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: auto;
}

.arrow-image {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100px;
    right: 100px;
}

/*min-width: 1000px*/
@media screen and (min-aspect-ratio: 1/1) {
    .content {
        text-align: left;
    }

    .home.text-container {
        margin-bottom: 20px;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .content {
        text-align: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        width: 90%;
        padding-top: 48px;
    }
}