/*
    Colors:
    Dark Gray:      #292929
    Light Gray:     #636466
 */

.home.container {
    min-height: 100vh;
    background: #EEEEEE;
}

.home.arrow-image {
    width: calc(4vw + 4vh);
    height: calc(4vw + 4vh);
}

.home.arrow-text {
    position: absolute;
}

/*min-width: 1000px*/
@media screen and (min-aspect-ratio: 1/1) {
    .home.text-container {
        margin-bottom: 20px;
    }

    .home.arrow-image {
        top: 26px;
        right: 77px;
    }

    .home.arrow-text {
        top: calc(26px + (4vw + 4vh));
        right: calc(23px + (4vw + 4vh));
    }
}

@media screen and (max-width: 700px) {
    .home.arrow-text {
        top: calc(26px + (4vw + 4vh));
        right: calc(33px + (4vw + 4vh));
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .home.arrow-image {
        left: 26px;
        top: 77px;
    }

    .home.arrow-text {
        left: calc(31px + (4vw + 4vh));
        top: calc(67px + (4vw + 4vh));
    }
}