/*
    Colors:
    Dark Gray:      #292929
    Light Gray:     #636466
 */

.home.container {
    min-height: 100vh;
    background: #EEEEEE;
}

.home.arrow-image {
    width: calc(4vw + 4vh);
    height: calc(4vw + 4vh);
}

.home.arrow-image.straight {
    width: calc(5vw + 5vh);
    height: calc(2vw + 2vh);
}


.home.arrow-text {
}

.home.arrow-text-container {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
}

/*min-width: 1000px*/
@media screen and (min-aspect-ratio: 1/1) {
    .home.text-container {
        margin-bottom: 20px;
    }

    .home.arrow-image {
        top: 60px;
        right: 77px;
    }

    .home.arrow-text-container {
        top: calc(65px + (4vw + 4vh));
        right: calc(42px + (4vw + 4vh));
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .home.arrow-text {
        /*top: calc(26px + (4vw + 4vh));*/
        /*right: calc(33px + (4vw + 4vh));*/
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .home.arrow-image {
        left: 60px;
        top: 77px;
    }

    .home.arrow-text {
        margin: 0 5px 0 0;
    }

    .home.arrow-text-container {
        top: calc(68px + (4vw + 4vh));
        left: calc(68px + (4vw + 4vh));
        flex-direction: row;
    }
}

@media screen and (max-height: 500px){
    .home.arrow-image {
        opacity: 0;
    }

    .home.arrow-text-container {
        opacity: 0;
    }

    .home.arrow-text {
        opacity: 0;
    }
}