.ipa.App {
  min-height: 100vh;
  background: #4a926d;
  color: whitesmoke;
  padding: 80px 10vw 0 10vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ipa.header.container {
  top: 0px;
  width: 100vw;
  height: 70px;
  background: #3e3e3e;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  z-index: 1;
}

.ipa.content-container {
  width: 85vw;
  max-width: 550px;
}

.ipa.header.title {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  font-size: 30px;
}

.ipa.header.subtitle {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  font-size: 14px;
}

.ipa.header.body {
  margin-top: 10px;
  color: whitesmoke;
  font-size: 24px;
}

.ipa.note {
  margin-top: 5px;
  color: whitesmoke;
  font-size: 16px;
}

.ipa.details {
  margin-top: 20px;
  color: whitesmoke;
  font-size: 18px;
}

.ipa.logo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.ipa.language-select {
  text-decoration: none;
  border: none;
  background: none;
  appearance: none;
  color: white;
  font-size: 22px;
  margin: 0 5px;
  font-weight: 800;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.ipa.input {
  -webkit-appearance: none;
  border: none;
  overflow: auto;
  outline: none;
  resize: vertical;
  width: 75vw;
  height: 20vh;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-resizer {
  border-radius: 1%;
  width: 0;
  height: 0;
  border-bottom: 100px solid #336558;
  border-left: 100px solid transparent;
}

.ipa.display.phoneme.block {
  margin: 10px 0px;
  display: inline-block;
  flex-direction: column;
}

.ipa.display.phoneme.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  user-select: none;
}

.ipa.display.phoneme.original-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  user-select: none;
  font-weight: 700;
}

.ipa.display.phoneme.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.ipa.display.phoneme.tooltip:hover {
  border-bottom: 2px solid #1e1e1e;
}

.ipa.display.phoneme.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #1e1e1e;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  padding: 10px;
  user-select: none;
  position: absolute;
  z-index: 1;
}

.ipa.display.phoneme.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ipa.result {
  background: whitesmoke;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  width: 75vw;
  min-height: 20vh;
  max-width: 500px;
  text-align: left;
}

.ipa.horizontal-line {
  margin-top: 30px;
  border-bottom: 3px solid whitesmoke;
  width: 85vw;
  max-width: 550px;
}

.ipa.description.header {
  margin-top: 60px;
  color: whitesmoke;
  font-size: 36px;
  border-bottom: 2px solid whitesmoke;
}

.ipa.description.buttonheader {
  color: whitesmoke;
  font-size: 24px;
}

.ipa.description.body {
  margin-top: 20px;
  color: whitesmoke;
  font-size: 18px;
}

.ipa.description.email {
  color: whitesmoke;
  font-size: 18px;
  border-bottom: 1px solid whitesmoke;
}

.ipa.description.button {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px 40px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border-radius: 25px;
  background: #1e1e1e;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
}

.ipa.description.button:hover {
  border: 2px solid white;
}

.ipa.footer.container {
  width: 100vw;
  background: #3e3e3e;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ipa.footer.content-container {
  flex: 1;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 650px;
}

.ipa.footer.text {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 20px;
  color: whitesmoke;
}
.ipa.footer.link {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.bmc-button img {
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}
.bmc-button {
  padding: 7px 5px 7px 10px !important;
  line-height: 35px !important;
  height: 51px !important;
  min-width: 217px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #ffffff !important;
  background-color: #ff813f !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 5px 7px 10px !important;
  font-size: 20px !important;
  letter-spacing: -0.08px !important;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2) !important;
  margin: 0 auto !important;
  font-family: 'Lato', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}
.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}

@media screen and (max-width: 600px) {
  .ipa.content-container {
    flex-direction: column;
  }
  .bmc-button {
    margin-top: 20px !important;
  }
}

@media screen and (min-width: 600px) {
  .ipa.content-container {
    flex-direction: row;
  }
}
