.navigation-buttons button {
    border: 5px solid #292929;
    background: none;
    border-radius: 15px;
    height: calc(30px + (2vw + 2vh));
    /*width: calc(150px + (4vw + 4vh));*/
    max-height: 50px;
    max-width: 230px;
    color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-buttons button:hover {
    background: #292929;
    color: lightgray;
}

.navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation-buttons button {
}

@media screen and (min-aspect-ratio: 1/1) {
    .navigation-buttons {
        width: 800px;
        max-width: 80vw;
        flex-direction: row;
    }

    .navigation-buttons button {
        margin: 0 10px 0 0;
        flex: 1
    }
}

@media screen and (max-width: 800px) {
    .navigation-buttons button {
    }
}

@media screen and (max-width: 600px) {
    .navigation-buttons button {
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .navigation-buttons {
        flex-direction: column;
        width: 60vw;
        max-width: 400px;
    }

    .navigation-buttons button {
        margin: 10px 0 0 0;
        width: 100%;
    }
}