* {
    font-family: "Apple SD Gothic Neo", "Trebuchet MS", 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}
body {
    height: 100vh;
    background: #EEEEEE;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, ol, ul, li, a {
    color: #292929;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
    font-weight: normal;
}

h6 {
    font-size: 12px;
    font-weight: normal;
}

p, span, li {
    font-size: 8px;
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: calc(8.4375vw + 9px);
    }

    h2 {
        font-size: calc(4.6875vw + 15px);
    }

    h3 {
        font-size: calc(3.75vw + 12px);
    }

    h4 {
        font-size: calc(3.125vw + 10px);
    }

    h5 {
        font-size: calc(1.875vw + 10px);
        font-weight: normal;
    }

    h6 {
        font-size: calc(1.25vw + 8px);
        font-weight: normal;
    }

    p, span, li {
        font-size: calc(1.25vw + 4px);
    }
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 40px;
    }

    h5 {
        font-size: 28px;
        font-weight: normal;
    }

    h6 {
        font-size: 20px;
        font-weight: normal;
    }

    p, span, li {
        font-size: 16px;
    }
}

/* --- Buttons --- */
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

button:hover h6 {
    color: #EEEEEE;
}

button:focus {
    outline: none;
}

.content {
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: auto;
}

.arrow-image {
    position: absolute;
    width: calc(4vw + 4vh);
    height: calc(4vw + 4vh);
}

.arrow-text {
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .arrow-text {
        font-size: 16px;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .content {
        text-align: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        width: 90%;
        padding-top: 48px;
    }

    .arrow-image {
        transform: rotate(-90deg);
    }

    .arrow-text {
        font-size: 14px;
    }
}